 <div class="col-xs-6 col-sm-3">
{% if task.task_completed %}
<div class="card text-white bg-success">
    {% else %}
<div class="card text-white bg-secondary">

    {% endif %}
  <div class="card-header">{{ task.name }}</div>
  <div class="card-body text-primary">
      <a class="list-group-item" href="{% url 'task:detail'  pk=task.pk %}">
    <h4 class="card-title">{{ task.projectBacklog.project.name }}</h4>
      </a>
      {% if task.presentage_complete > 0 %}
    <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ task_details.presentage_complete}}%;">
    {{ task.presentage_complete }}
  </div>
</div>
    {% else %}
        <h4>Not started</h4>
    {% endif %}
  <hr>
  </div>

<p class="card-text">
<div class="list-group-item-text container-fluid">
				{{ task.description|safe }}
				<div class="row">
					<div class="col-md-4">
						<span class="badge">task type: {{ task.task_type }} priority: {{ task.priority }} </span>
					</div>
				</div>
			</div>
    </p>
</div>
</div>