{% extends "groups/group_base.html" %}

{% block pre %}


<h1>{{group.name}}</h1>
<h2> Member Count: {{group.members.count}}</h2>

  <div class="content">


				{% if user in group.members.all %}
					<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-remove-circle"></span> Leave</a>
                    <a href="{% url 'groups:add' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span> Add User</a>
				{% else %}
					<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span> Join</a>

				{% endif %}



</div>

{% endblock %}


{% block cont %}

<div class="col-md-8">

    {% for account in group.members.all %}
        <a href="{% url 'accounts:tasks' username=account.username%}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span>
        {{ account.username }}</a>
    {% endfor %}
</div>
{% endblock %}

{% block post %}
    {% if user in group.members.all %}
        <p><a href="{% url 'meeting:createDaily' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning">Add daily</a> </p>
        {% if group.teammeeting.count %}
                {% for meeting in group.teammeeting.all %}
                    {% include 'meeting/_meeting.html' %}
                {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
