{% extends "groups/group_base.html" %}

{% block pre %}
<h1>Group: {{group.name}} at <a href="{% url 'company:detail' pk=group.company.pk %}">{{ group.company.name }}</a> </h1>
<h2> Member Count: {{group.members.count}}</h2>

<div class="col-md-8">
    <h3>User list</h3>
    {% for account in group.members.all %}
        <a href="{% url 'accounts:tasks' username=account.username%}"><span class="glyphicon glyphicon-user">

        </span>
            {{ account.username }}</a>
    {% endfor %}
</div>

{% endblock %}
{% block cont %}
        <div class="container">
        {% if user in group.members.all %}
        {% if group.teammeeting.count %}
                {% for meeting in group.teammeeting.all %}
                    {% include 'meeting/_meeting.html' %}
                {% endfor %}
        {% endif %}
    {% endif %}
        </div>
     <div class="content">

    {% if user in group.members.all %}
					<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-fill btn-warning"><span class="glyphicon glyphicon-remove-circle"></span> Leave</a>
                    <a href="{% url 'groups:add' slug=group.slug %}" class="btn btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span> Add User</a>
                    <a href="{% url 'meeting:createDaily' slug=group.slug %}" class="btn btn-fill btn-warning">Add daily</a>
                    <a href="{% url 'meeting:story' slug=group.slug %}"class="btn btn-fill btn-warning">Meeting Story</a>
                     <a href="{% url 'meeting:create' slug=group.slug %}" class="btn btn-fill btn-warning">Create Meeting</a>
				{% else %}
					<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span> Join</a>

				{% endif %}

</div>

    {% if group.group.count %}
        {% for task in group.group.all %}
            {% include 'task/_taskP.html' %}
        {% endfor %}
    {% endif %}


{% endblock %}

{% block post %}
    {% if covey_graph %}
        {% include 'section_start.html' %}
    <img src="{{ MEDIA_URL }}{{ covey_graph }}" alt="covey task graph"  class="img-responsive">
       <div class="alert alert-success">{{ covey_analyse | linebreaksbr }}</div>
        {% include 'section_end.html' %}
    {% endif %}
{% endblock %}
{%block sidebar %}

{% endblock %}