{% extends "company/company_base.html" %}
{% block pre %}
    <h1>Company: {{ company_details.name }}</h1>
{% endblock %}

{% block cont %}
    <div class="col-md-8">
        <div class="list-group">

            {% for project in company_details.projects.all %}
                {% include "project/_project.html" %}
            {% endfor %}

            <div class="container">
                <p><a class='btn btn-warning' href="{% url 'company:update' pk=company_details.pk %}">Update</a></p>
                <p><a class='btn btn-warning' href="{% url 'project:create' pk=company_details.pk %}">Create Project</a></p>

            </div>
        </div>
    </div>
{% endblock %}
