{% extends "company/company_base.html" %}
{% block pre %}
    {% include 'section_start.html' %}
    <h4 class = 'card-title'>Company: {{ company_details.name }}</h4>

    <a class='btn btn-primary' href="{% url 'company:update' pk=company_details.pk %}">Update</a>
    <a class='btn btn-primary' href="{% url 'project:create' pk=company_details.pk %}">Create Project</a>
    {% include 'section_end.html' %}


{% endblock %}

{% block cont %}
    {% include 'section_start.html' %}
        <div class="list-group">
        {% for project in company_details.projects.all %}
                {% include "project/_pr oject.html" %}
            {% endfor %}
        </div>
    {% include 'section_end.html' %}
{% endblock %}
