{% extends "groups/group_base.html" %}

{% block pre %}
    <h1>{{ todo_details.name }}</h1>
{% endblock %}


{% block cont %}
    <div class="col-md-8">
        <div class="list-group">
            <p>description: {{ todo_details.description }}</p>
            <p>priority: {{ todo_details.priority }}</p>
            <p>task type: {{ todo_details.task_type }}</p>
            <p>%: {{ todo_details.presentage_complete }}</p>
            {% if  todo_details.estimated_time %}
                <p>estimated time: {{ todo_details.estimated_time }}</p>
            {% endif %}
            {% if  todo_details.ETA %}
                <p>ETA: {{ todo_details.ETA }}</p>
            {% endif %}


</div>
    </div>
{% endblock %}
