<a class="list-group-item" href="{% url 'log:update'  pk=log.pk %}">
    <h3 class="title list-group-item-heading">
        {{log.task.name}}</h3>
<div class="list-group-item-text container-fluid">
{{ log.log }}

</div></a>
<div class="list-group-item-text container-fluid">
				{{ task.description|safe }}
				<div class="row">
					<div class="col-md-4">
						<span class="badge">updated: {{ log.update }} created: {{ log.timestamp }} </span>
					</div>
{#					<div class="col-md-4">#}
{#						<span class="badge">{{ group.posts.count }}</span> post{{ group.posts.count|pluralize }}#}
{#					</div>#}
				</div>
			</div>